<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzvSE1KjgXIO9-ZvTH6M8RRAIJkSvbRDw</string>
	<key>GCM_SENDER_ID</key>
	<string>196429807242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.admissionticketapp.admissionTicketApp</string>
	<key>PROJECT_ID</key>
	<string>admission-ticket-app</string>
	<key>STORAGE_BUCKET</key>
	<string>admission-ticket-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196429807242:ios:73ec5a9101963548c23773</string>
</dict>
</plist>